<div>
    <div class="flex items-center mx-4 md:mx-0 mb-3">
        <ng-content></ng-content>
        <div class="flex-1"><!--spacer--></div>
        <span class="all-small-caps text-xl font-bold tracking-wide relative -top-[0.075rem]">More</span>
        <ng-icon name="remixArrowRightSLine" size="30px" />
    </div>
    <div class="flex items-center justify-start flex-shrink-0 w-full pb-2 px-4 md:px-0 snap-x snap-mandatory snap-always overflow-y-scroll">
        <div class="mr-2 snap-center">
            <app-work-card />
        </div>
        <div class="mr-2 snap-center">
            <app-work-card />
        </div>
        <div class="mr-2 snap-center">
            <app-work-card />
        </div>
        <div class="mr-2 snap-center">
            <app-work-card />
        </div>
        <div class="mr-2 snap-center">
            <app-work-card />
        </div>
        <div class="mr-2 snap-center">
            <app-work-card />
        </div>
        <div class="mr-2 snap-center">
            <app-work-card />
        </div>
        <div class="mr-2 snap-center">
            <app-work-card />
        </div>
        <div class="snap-center">
            <app-work-card />
        </div>
    </div>
</div>
