/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './themes';
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@layer utilities {
  .highlight-white {
    box-shadow: inset 0 1px 0 0 rgb(255 255 255/0.05);
  }
  .highlight-black {
    box-shadow: inset 0 1px 0 0 rgb(0 0 0/0.5);
  }
  .highlight-shadowed {
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: inset 0 1px 0 0 rgb(255 255 255/0.05),
    var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
  }
  .highlight-shadowed-black {
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: inset 0 -1px 0 0 rgb(0 0 0/0.05),
    var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
  }
}

:root {
  /* Text */
  --body-text: 'Inter', sans-serif;
  --header-text: 'Josefin Sans', sans-serif;
  --body-serif-text: 'Josefin Slab', serif;
  --section-text: 'Inter', sans-serif;
}

html,
body {
  @apply lg:w-full h-full lg:overflow-hidden;
}
html {
  /* Light Mode */
  --background: rgb(251, 251, 251);
  --nav-background: rgb(236, 236, 236);
  --dropshadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  --text-color: rgb(0, 0, 0);
  --borders: rgb(128, 128, 128);
  --code-background: rgb(211, 211, 211);
  --placeholder: rgba(127, 127, 127, 0.6);
  --select-bg: rgba(212, 212, 216, 1);
  @apply transition-all;
  &.dark {
    --background: rgb(39, 39, 39);
    --nav-background: rgb(47, 46, 46);
    --dropshadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    --text-color: rgb(245, 245, 245);
    --borders: rgb(255, 255, 255);
    --code-background: rgb(58, 58, 58);
    --placeholder: rgba(127, 127, 127, 0.6);
    --select-bg: rgba(63, 63, 70, 1);
    @apply transition-all;
  }
}
body {
  color: var(--text-color);
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: var(--body-text);
  background: var(--background);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--accent);
  font-family: var(--header-text);
  @apply leading-normal relative top-0.5 font-medium;
}
p {
  margin: 1rem 0 1rem 0;
}
a {
  @apply transition;
  color: var(--accent);
  text-decoration: none;
  &:hover {
    color: var(--accent-dark);
    text-decoration: underline;
  }
}
div.empty {
  @apply w-full flex-1;
  margin-top: 2.5rem;
  text-align: center;
  h3 {
    @apply text-[28px] lg:text-[36px];
    font-family: var(--header-text);
    font-weight: 300;
    margin-bottom: 0.5rem;
    color: var(--accent);
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* Panels */
div.panel-container {
  @apply w-full lg:min-w-[300px] lg:max-w-[300px] lg:h-[calc(100vh-60px)] lg:sticky top-0 lg:overflow-hidden lg:overflow-y-scroll;
  div.title-block {
    @apply flex flex-col items-center justify-center;
    h1 {
      @apply text-3xl px-4 py-2;
    }
  }

  h1.title {
    @apply text-4xl mt-12 mb-6;
  }

  div.top-block {
    @apply px-2.5 py-8 mb-2 flex items-center text-white;
    background: var(--accent-dark);
    h1 {
      @apply text-white text-4xl relative top-1;
    }
    div.left-button {
      @apply mr-4;
    }
  }

  div.content-container {
    @apply px-3 my-4;
  }
  div.panel-section {
    @apply mb-4 last:mb-0 rounded-xl overflow-hidden;
    h3 {
      @apply text-xl mb-1 ml-2 all-small-caps font-semibold;
      color: var(--text-color);
    }

    div.panel-box {
      @apply bg-zinc-200 rounded-lg p-4 flex flex-col items-center relative;
    }
  }
  button.panel-button, a.panel-button, div.panel-button {
    @apply flex items-center block no-underline p-3 text-lg border-b border-zinc-400 w-full last:border-0 bg-zinc-300;
    color: var(--text-color);
    font-family: var(--header-text);
    .caret {
      @apply text-zinc-400;
    }

    &:hover {
      @apply bg-zinc-400;
      .caret {
        @apply text-zinc-500;
      }
    }

    &.active {
      @apply text-white;
      background-color: var(--accent);
      .caret {
        @apply text-white;
      }
      &:hover {
        background-color: var(--accent-light);
      }
    }

    span {
      @apply ml-2 flex-1 text-left relative top-[0.1625rem];
    }
  }
}

.dark div.panel-container {
  button.panel-button, a.panel-button {
    @apply border-zinc-500 bg-zinc-600;
    &:hover {
      @apply bg-zinc-500;
      .caret {
        @apply text-zinc-400;
      }
    }
    &.active {
      @apply text-white;
      background-color: var(--accent);
      .caret {
        @apply text-white;
      }
      &:hover {
        background-color: var(--accent-light);
      }
    }
  }

  div.panel-section {
    div.panel-box {
      @apply bg-zinc-600;
    }
  }
}

/* Guide */
div.guide-dropdown {
  @apply absolute rounded-2xl z-50 max-h-[calc(100vh-80px)] p-2 pt-0 w-[calc(100vw-50px)] lg:w-[375px] overflow-hidden overflow-y-scroll;
  display: grid;
  grid-template: 1fr / 1fr;
  box-shadow: var(--dropshadow);
  font-family: var(--header-text);
  div.guide-nav {
    @apply sticky top-0 py-2 w-full z-10;
  }
  div.guide-section {
    @apply flex flex-col w-full rounded-xl overflow-hidden my-4 first:mt-2 last:mb-0 shrink-0;
    color: var(--text-color);
    &.with-header {
      margin-top: 0.125rem;
    }
  }
  h5.guide-section-header {
    @apply ml-2 uppercase;
  }
  button.guide-button,
  a.guide-button {
    @apply flex items-center w-full px-4 py-3 transition no-underline hover:bg-zinc-400 dark:hover:bg-zinc-500 border-b border-zinc-400 dark:border-zinc-500 last:border-0;
    color: var(--text-color);
    span {
      @apply text-base relative top-0.5 flex-1 text-left;
    }
  }
  button.profile-button {
    @apply flex flex-col items-center justify-center p-2 rounded-xl transition mx-0.5 first:ml-0 last:mr-0 max-w-[88px] max-h-[117px];
    span {
      @apply mt-1 w-full truncate;
    }
  }
  a.stat-box {
    @apply block cursor-pointer flex flex-col items-center select-none no-underline p-4 w-1/3 transition transform;
    color: var(--text-color);
    div.stat {
      @apply flex items-center;
    }
    div.stat-label {
      @apply text-xs uppercase font-bold tracking-wider;
    }
  }
}

div.guide-dropdown > * {
  grid-area: 1 / 1 ;
}

/* Editor */

.dark div.ProseMirror {
  @apply border-zinc-500;
  blockquote {
    @apply bg-zinc-600;
  }
}

div.ProseMirror {
  @apply py-0.5 px-3 bg-transparent mb-0 focus:outline-none border-t-2 border-transparent transition transform origin-center;
  min-height: 10rem !important;
  max-height: 85vh !important;
  overflow-y: scroll;

  &:focus {
    border-color: var(--borders);
  }

  p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: rgb(97, 103, 116);
    pointer-events: none;
    height: 0;
  }

  // Headers and default image style
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.25em;
  }
  h5 {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
  }
  h6 {
    font-size: 1em;
    text-transform: uppercase;
  }
  img {
    max-width: 100%;
    display: inline;
  }

  blockquote {
    @apply bg-zinc-300 rounded-xl m-3 px-3 pt-0.5 pb-2;
    p:first-child {
      @apply pt-0 my-0 font-bold text-base tracking-wider all-small-caps;
    }
    p:nth-child(2) {
      @apply mt-0
    }
    p:last-child {
      @apply pb-0 mb-0;
    }
  }

  // CKEditor-generated image styles
  .image {
    display: table;
    clear: both;
    text-align: center;
    margin: 1em auto;
  }

  .image-style-align- {
    &left {
      float: left;
      margin-right: 1.5em;
    }
    &center {
      margin-left: auto;
      margin-right: auto;
    }
    &right {
      float: right;
      margin-left: 1.5em;
    }
  }

  // A little CSS hack to force images at the bottom of content bodies to not break out of their containers.
  // More details here: http://bonrouge.com/br.php?page=floats
  > :last-child:after {
    content: '.';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
    visibility: hidden;
  }

  // CKEditor-generated font sizes
  span.text- {
    &tiny {
      font-size: 0.7em;
    }
    &small {
      font-size: 0.85em;
    }
    &big {
      font-size: 1.4em;
    }
    &huge {
      font-size: 1.85em;
    }
  }
  ul,
  ol {
    margin-left: 2.5rem;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  li {
    @apply my-1;
  }

  p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    @apply text-zinc-400;
    pointer-events: none;
    height: 0;
  }
}

/* Sections, blog bodies, authors notes, and long descriptions.
 * These go in the main stylesheet because section bodies have
 * no view encapsulation, and can be (and are) affected by global
 * styles. Therefore, these must also be global styles.
 * If we can find a way to have an element with directly-set
 * innerHtml AND view encapsulation, we can move all this back down to the
 * component level.
*/
div.comment-body,
div.section-body,
div.blog-body,
div.authors-note,
div.html-description,
section {
  @include content-body();
}

.dark {
  div.comment-body,
  div.section-body,
  div.blog-body,
  div.authors-note,
  div.html-description,
  section {
    blockquote {
      @apply bg-zinc-600;
    }
  }
}

/* Sections */
div.section-page {
  &.white {
    --section-background: rgb(255, 255, 255);
    --section-text-color: rgb(39, 39, 39);
    --section-button-hover: rgb(234, 229, 217);
    --section-tool-color: rgb(37, 37, 37);
    --section-header-color: rgb(68, 123, 181);
    --section-tool-header-color: var(--section-text-color);
    --section-select-bg: rgba(234, 229, 217, 1);
    --section-dropdown-bg: var(--section-background);

    div.section-tools {
      &.out-of-content {
        --section-tool-color: rgb(255, 255, 255);
        --section-tool-header-color: rgb(255, 255, 255);
        --section-button-hover: rgb(81, 81, 83);
      }
    }
  }
  &.paper {
    --section-background: rgb(247, 241, 228);
    --section-text-color: rgb(39, 39, 39);
    --section-button-hover: rgb(234, 229, 217);
    --section-tool-color: rgb(192, 154, 63);
    --section-header-color: rgb(192, 154, 63);
    --section-tool-header-color: var(--section-tool-color);
    --section-select-bg: rgba(192, 154, 63, 0.25);
    --section-dropdown-bg: var(--section-background);
    div.section-tools {
      &.out-of-content {
        --section-button-hover: rgb(55, 55, 56);
      }
    }
  }
  &.slate {
    --section-background: rgb(72, 72, 74);
    --section-text-color: rgb(213, 213, 213);
    --section-button-hover: rgb(81, 81, 83);
    --section-tool-color: rgb(255, 255, 255);
    --section-header-color: rgb(68, 123, 181);
    --section-tool-header-color: var(--section-text-color);
    --section-select-bg: rgba(81, 81, 83, 1);
    --section-dropdown-bg: var(--section-background);
  }
  &.dimmed {
    --section-background: rgb(44, 44, 46);
    --section-text-color: rgb(186, 186, 186);
    --section-button-hover: rgb(55, 55, 56);
    --section-tool-color: rgb(255, 255, 255);
    --section-header-color: rgb(66, 120, 176);
    --section-tool-header-color: var(--section-text-color);
    --section-select-bg: rgba(55, 55, 56, 1);
    --section-dropdown-bg: var(--section-background);
  }
  &.ink {
    --section-background: rgb(0, 0, 0);
    --section-text-color: rgb(186, 186, 186);
    --section-button-hover: rgb(55, 55, 56);
    --section-tool-color: rgb(255, 255, 255);
    --section-header-color: rgb(66, 120, 176);
    --section-tool-header-color: var(--section-text-color);
    --section-select-bg: rgba(55, 55, 56, 1);
    --section-dropdown-bg: var(--section-background);
  }
  --section-font-family: 'Inter', sans-serif;
  --section-font-size: 16px;
  --section-line-height: 24px;
  --section-width: 46rem;
  --section-paragraph-margins: 1rem 0 1rem 0;
  --section-paragraph-indent: 0;
  background-color: var(--section-background);

  div.section-tools {
    @apply items-center justify-center w-full mx-auto px-4 py-4 transition sticky top-0 z-10 h-[62px] lg:h-[72px];
    &.pinned {
      @apply flex;
    }
    &.unpinned {
      @apply hidden;
    }
    &.in-content {
      background-image: linear-gradient(
                      to bottom,
                      var(--section-background),
                      var(--section-background) 85%,
                      transparent
      );
    }
    &.out-of-content {
      background-image: linear-gradient(
                      to bottom,
                      var(--background),
                      var(--background) 85%,
                      transparent
      );
    }
  }
  div.section-container {
    @apply mx-auto p-4 mt-16 transition relative;
    color: var(--section-text-color);
    max-width: var(--section-width);
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: var(--header-text) !important;
      color: var(--section-header-color) !important;
    }
    div.section-authors-note {
      @apply px-4 py-2.5 mx-2 lg:mx-8 my-4 rounded-xl shadow-inner text-sm;
      background: var(--section-select-bg);
    }
    div.section-body {
      @apply mx-2 lg:mx-0;
      font-family: var(--section-font-family) !important;
      font-size: var(--section-font-size) !important;
      line-height: var(--section-line-height) !important;
      &.justified {
        text-align: justify;
        hyphens: auto;
      }
      p {
        margin: var(--section-paragraph-margins) !important;
      }
      p + p {
        text-indent: var(--section-paragraph-indent) !important;
      }
    }
  }
  div.section-nav {
    @apply flex items-center justify-center w-full mb-8;
  }
  button.section-button {
    @apply flex items-center px-2 py-1.5 transition focus:ring-0 text-base rounded-lg select-none relative h-[36px];
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--section-tool-color);
    &:hover {
      background-color: var(--section-button-hover);
    }
    span {
      @apply relative -top-0.5;
    }
    &.no-text {
      @apply px-2 h-[36px];
    }
    &.active {
      background-color: var(--section-button-hover);
    }
    &.hide-this {
      @apply lg:flex hidden;
    }
  }
  div.section-dropdown {
    @apply absolute  rounded-xl z-50 max-h-[calc(100vh-80px)] w-[325px] p-2;
    border: 1px solid var(--section-tool-color);
    box-shadow: var(--dropshadow);
    color: var(--section-text-color);
    background: var(--section-dropdown-bg);
  div.section-dropdown-content {
    @apply flex flex-col overflow-y-auto;
  }
  }
  div.section-meta {
    @apply py-6 block shadow-inner text-white;
    background: rgb(39, 39, 39);
    div.section-about {
      @apply flex flex-col rounded-xl overflow-hidden max-w-3xl mx-auto;
    }
    button.meta-button {
      @apply flex items-center px-1.5 py-2.5 transition transform hover:bg-zinc-600 focus:ring-0 m-0 text-base rounded-lg select-none relative;
      text-transform: lowercase;
      font-variant: small-caps;
      font-weight: 700;
      letter-spacing: 1px;
      font-family: var(--body-text);
      &.thumbs-up {
        @apply text-green-600;
      }
      &.thumbs-down {
        @apply text-red-600;
      }
    }
  }
}
