/* Theming */

.crimson {
  --accent: rgb(205, 86, 84);
  --accent-dark: rgb(133, 56, 54);
  --accent-light: rgb(221, 142, 142);
  @apply transition-all;
}

.aqua {
  --accent: rgb(98, 150, 209);
  --accent-dark: rgb(64, 98, 136);
  --accent-light: rgb(152, 187, 224);
  @apply transition-all;
}

.royal {
  --accent: rgb(145, 82, 169);
  --accent-dark: rgb(95, 53, 110);
  --accent-light: rgb(183, 142, 198);
  @apply transition-all;
}

.autumn {
  --accent: rgb(204, 118, 60);
  --accent-dark: rgb(133, 77, 38);
  --accent-light: rgb(222, 165, 123);
  @apply transition-all;
}

.field {
  --accent: rgb(79, 126, 53);
  --accent-dark: rgb(50, 82, 34);
  --accent-light: rgb(137, 171, 121);
  @apply transition-all;
}
