DATABASE_URL="postgresql://postgres@localhost/mydatabase"
REDIS_URL="redis://localhost:6379"
SECRET_KEY="asecret"
SITE_BASE_URL="http://localhost:3000"
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=