<div class="navbar-container" [ngClass]="{'not-home': route.url !== '/' && !route.url.startsWith('/profile')}">
    <nav class="flex items-center max-w-[90rem] w-full md:w-11/12 pl-4 pr-2 md:px-0 mx-auto h-full">
        <div class="flex items-center w-1/3 text-white">
            <a routerLink="/"><h3 class="text-2xl font-bold tracking-tighter text-white">Offprint</h3></a>
            <a class="page-link" routerLink="/explore" [routerLinkActive]="'active'">Explore</a>
            <a class="page-link">Social</a>
        </div>
        <div class="w-1/3">
            <app-search-menu />
        </div>
        <div class="flex items-center w-1/3" style="font-family: var(--header-text);">
            <div class="flex-1"><!--spacer--></div>
            @if (isAuthenticated$ | async) {
                @if (currProfile$ | async; as profile) {
                    <button class="navbar-button">
                        <span class="icon"><ng-icon name="remixInbox2Line" size="24px" /></span>
                        <span class="text">1.2k</span>
                    </button>
                    <button class="navbar-button">
                        <span class="icon"><ng-icon name="lucideLibrary" size="24px" strokeWidth="2.5" /></span>
                        <span class="text">12</span>
                    </button>
                    <app-user-menu />
                } @else {
                    <a class="navbar-button" [routerLink]="['/auth/switch-profile']">
                        <span class="icon"><ng-icon name="lucideArrowRightLeft" size="18px" /></span>
                        <span class="link-text">Profiles</span>
                    </a>
                }
            } @else {
                <a class="navbar-button" [routerLink]="['/auth/log-in']">
                    <span class="icon"><ng-icon name="lucideLogIn" size="18px" /></span>
                    <span class="link-text">Log In</span>
                </a>
            }
        </div>
    </nav>
</div>
