<button
    class="overflow-hidden rounded-full border ml-1 mt-1.5 mr-2 md:mr-0"
    [ngClass]="{
            'bg-zinc-300/25': isOpen,
            'backdrop-blur': isOpen,
            'border-transparent': isOpen,
            'border-zinc-300': !isOpen,
            'mt-0': isOpen,
            'mb-2': isOpen,
        }"
    [floatUi]="userMenu"
    [hideOnClickOutside]="true"
    [hideOnScroll]="true"
    [disableStyle]="true"
    [preventOverflow]="true"
    [disableAnimation]="false"
    (onShown)="setOpen()"
    (onHidden)="setClosed()"
>
    @if (isOpen) {
        <span class="w-[35px] h-[35px] relative md:top-[0.075rem] flex flex-col items-center justify-center text-white">
            <ng-icon name="remixCloseLine" size="20px" />
        </span>
    } @else {
        <img [ngSrc]="(currProfile$ | async)!.avatar" width="35" height="35"  alt="Avatar"/>
    }
</button>

<float-ui-content #userMenu>
    <div class="absolute top-0.5 md:top-[7px] -right-2 md:right-0 z-50 flex flex-col w-screen md:w-[375px] p-2 md:rounded-b-2xl bg-zinc-200 dark:bg-zinc-700 md:border md:border-t-0 border-white border-opacity-25 overflow-y-scroll shadow-xl">
        @if (currPanel === UserMenuPanels.logOut) {
            <app-log-out
                (onBack)="currPanel = UserMenuPanels.main"
                (onLogOut)="logOut()"
            />
        } @else if (currPanel === UserMenuPanels.settings) {
            <app-quick-settings
                (onBack)="currPanel = UserMenuPanels.main"
            />
        } @else {
            <app-main-panel
                (onClickSettings)="currPanel = UserMenuPanels.settings"
                (onClickLogOut)="currPanel = UserMenuPanels.logOut"
            />
        }
    </div>
</float-ui-content>
