<div
    class="flex flex-col items-center justify-center w-full h-[calc(100svh-55px)] md:h-[calc(100svh-65px)] bg-cover bg-center"
    style="background-image: url('/assets/images/mountains.jpg')"
>
    <div class="bg-zinc-200/75 dark:bg-zinc-700/75 backdrop-blur-lg md:rounded-xl max-w-md p-6 md:p-12 w-full h-full md:h-fit">
        @if (showUnavailableActionPrompt) {
            <div class="flex flex-col items-center justify-center">
                <h1 class="text-3xl">Whoops!</h1>
                <span class="text-zinc-500 dark:text-zinc-400 text-lg font-bold text-center pb-8" style="font-family: var(--header-text);">
                    Looks like you've taken the wrong turn.
                </span>
                <ng-icon name="remixUserForbidLine" size="150px" />
                <span class="text-zinc-500 dark:text-zinc-400 text-lg font-bold text-center pt-8" style="font-family: var(--header-text);">
                    You're already logged in!
                </span>
            </div>
        } @else {
            <div class="flex flex-col items-center justify-center pb-4">
                <h1 class="text-3xl">Welcome back!</h1>
                <span class="text-zinc-500 dark:text-zinc-400 text-lg font-bold" style="font-family: var(--header-text);">
                    We're so glad you're here.
                </span>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col">
                <app-text-field
                    [id]="'email'"
                    [label]="'Email Address'"
                    [type]="'email'"
                    [placeholder]="'somebody@example.net'"
                    [autocomplete]="'email'"
                    formControlName="email"
                />
                <div class="my-1.5"><!--spacer--></div>
                <app-text-field
                    [id]="'password'"
                    [label]="'Password'"
                    [type]="'password'"
                    [placeholder]="'••••••••••••'"
                    [autocomplete]="'current-password'"
                    formControlName="password"
                />
                <a class="text-zinc-500 dark:text-zinc-400 text-sm pt-2 hover:underline">Forgot your password?</a>
                <div class="my-3"><!--spacer--></div>
                <app-button
                    [id]="'login-button'"
                    [title]="'Log In'"
                    [type]="'submit'"
                    [kind]="'primary'"
                    [fullWidth]="true"
                >
                    <span class="button-icon"><ng-icon name="lucideLogIn" /></span>
                    <span class="button-text">Log In</span>
                </app-button>
                <a class="text-center w-full pt-4 text-zinc-500 dark:text-zinc-400 text-sm hover:underline" [routerLink]="['/auth/sign-up']">
                    Looking to join? Sign up today!
                </a>
            </form>
        }
    </div>
</div>
