<div class="w-full relative">
    <button
        class="hidden md:flex w-11/12 h-[36px] mx-auto items-center justify-center rounded-xl border-2 border-x-transparent border-t-transparent border-zinc-300 bg-zinc-300 bg-opacity-40 backdrop-blur py-1 text-white"
        [floatUi]="searchMenu"
        [hideOnScroll]="true"
        [hideOnClickOutside]="true"
        [disableStyle]="true"
        [preventOverflow]="true"
    >
        <span class="mr-2 relative top-0.5"><ng-icon name="remixSearchEyeLine" size="18px" /></span>
        <span class="text-xs">{{ currSlogan }}</span>
    </button>

    <float-ui-content #searchMenu>
        <div class="absolute -top-[36px] overflow-hidden bg-zinc-300 dark:bg-zinc-600 w-full h-[500px] rounded-xl border border-white border-opacity-25">
            <form [formGroup]="searchForm">
                <div class="flex items-center bg-zinc-400 dark:bg-zinc-500 border-b-2 border-white">
                    <span class="pl-4 relative top-[0.1675rem]"><ng-icon name="remixSearchEyeLine" size="18px" /></span>
                    <input
                        id="search-query"
                        title="Search Offprint..."
                        type="text"
                        class="bg-transparent placeholder-zinc-600 dark:placeholder-zinc-300 w-full text-sm py-2.5 focus:ring-0 focus:border-transparent"
                        [placeholder]="currSlogan"
                        [formControlName]="'query'"
                    />
                </div>
            </form>
        </div>
    </float-ui-content>
</div>
