<div class="pt-[55px] md:pt-[65px] pb-8">
    <div class="explore-nav bg-zinc-200/50 dark:bg-zinc-700/50 border-zinc-700/25 dark:border-zinc-200/25">
        <div class="explore-nav-items">
            <div class="select-box border-zinc-700/25 dark:border-zinc-200/25">
                <span class="relative top-1 mr-1"><ng-icon name="remixAppsLine" /></span>
                <span>All Works</span>
            </div>
            <div class="select-box border-zinc-700/25 dark:border-zinc-200/25">
                <span class="relative top-1 mr-1"><ng-icon name="remixLoader2Line" /></span>
                <span>Newest</span>
            </div>
            <div class="select-box border-zinc-700/25 dark:border-zinc-200/25">
                <span class="relative top-1 mr-1"><ng-icon name="remixBox2Line" /></span>
                <span>All Genres</span>
            </div>
            <div class="select-box border-zinc-700/25 dark:border-zinc-200/25">
                <span class="relative top-1 mr-1"><ng-icon name="remixShining2Line" /></span>
                <span>All Ratings</span>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-2 md:gap-4 w-11/12 mx-auto max-w-7xl">
        <app-work-card width="auto" />
        <app-work-card width="auto" />
        <app-work-card width="auto" />
        <app-work-card width="auto" />
        <app-work-card width="auto" />
        <app-work-card width="auto" />
        <app-work-card width="auto" />
        <app-work-card width="auto" />
        <app-work-card width="auto" />
        <app-work-card width="auto" />
        <app-work-card width="auto" />
        <app-work-card width="auto" />
    </div>
</div>
