div.explore-nav {
    @apply sticky top-[55px] md:top-[65px] flex w-full mb-8 h-[50px] md:h-[55px] backdrop-blur-lg z-10 border-b border-opacity-25;
    box-shadow: var(--dropshadow);
}

div.explore-nav > div.explore-nav-items {
    @apply flex justify-start md:justify-center w-full max-w-7xl mx-auto overflow-y-scroll flex-shrink-0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

div.explore-nav > div.explore-nav-items::-webkit-scrollbar {
    display: none;
}

div.select-box {
    @apply flex flex-shrink-0 items-center justify-center px-3 h-full all-small-caps font-bold tracking-wider text-lg border-r last:border-r-0;
}
