<div>
    <div class="flex items-center mb-3 mx-4 md:mx-0">
        <ng-icon name="remixBox2Line" size="30px" />
        <h3 class="text-2xl text-black dark:text-white mx-2">Genres</h3>
        <div class="flex-1"><!--spacer--></div>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-0 md:gap-2">
        @for (genre of genres; track genre.id) {
            <div class="flex flex-col items-center justify-center overflow-hidden px-4 py-2 border border-zinc-300 dark:border-zinc-600 odd:border-l-0 even:border-r-0 md:border-0 md:rounded-xl bg-zinc-200 dark:bg-zinc-700 h-[106px]">
                <span class="relative top-0.5"><ng-icon name="{{ genre.icon }}" size="36px" /></span>
                <span class="text-center all-small-caps font-bold break-words text-lg leading-relaxed">{{ genre.name }}</span>
            </div>
        }
    </div>
</div>
