<div class="flex items-center">
    <div class="flex items-center rounded-xl overflow-hidden max-w-[255px] h-[40px] bg-zinc-200 dark:bg-zinc-700">
        <input
            id="blog-search"
            title="Search Blogs"
            type="text"
            placeholder="Search..."
            class="bg-transparent border-0 focus:ring-0 w-full h-full"
        />
        <button class="h-full px-3 hover:bg-zinc-300 dark:hover:bg-zinc-600">
            <span class="relative top-0.5"><ng-icon name="remixSearchEyeLine" size="20px" /></span>
        </button>
    </div>
    <div class="flex-1"><!--spacer--></div>
    <app-button [id]="'filter-button'" [title]="'Filter'">
        <span class="button-icon"><ng-icon name="remixFilter2Line" /></span>
        <span class="button-text">Filter</span>
    </app-button>
    @if (currProfile && currProfile.id === profileId) {
        <div class="mx-0.5"><!--spacer--></div>
        <app-button
            [id]="'add-button'"
            [title]="'Add Blog'"
            [kind]="'primary'"
            (click)="goToCreatePage()"
        >
            <span class="button-icon"><ng-icon name="remixAddLine" /></span>
            <span class="button-text">Add</span>
        </app-button>
    }
</div>

@if (blogs.metadata.total === 0) {
    <div class="empty">
        <h3>Nothing to see here</h3>
        <p>Check back later to see if they added anything!</p>
    </div>
}
