<div class="mb-4 flex items-center">
    <app-button [id]="'back-button'" [title]="'Back'" (click)="onBack.emit()">
        <span class="button-icon"><ng-icon name="remixArrowLeftSLine" /></span>
        <span class="button-text">Back</span>
    </app-button>
</div>

<h3 class="relative left-2">Color</h3>
<div
    class="mb-4 flex flex-col items-center rounded-xl bg-zinc-400/25 p-4 backdrop-blur-lg dark:bg-zinc-500/25"
>
    <h3 class="all-small-caps mb-4 text-xl" style="color: var(--text-color)">
        {{ theme$ | async }}
    </h3>
    <div class="flex items-center justify-center">
        @for (theme of themes; track $index) {
            <div class="mx-1" [ngClass]="theme" [title]="theme | capitalize">
                <button
                    class="block h-12 w-12 rounded-full border"
                    style="background-color: rgb(var(--accent))"
                    (click)="setTheme(theme)"
                >
                    @if ((theme$ | async) === theme) {
                        <span class="relative top-1 text-white">
                            <ng-icon name="remixCheckLine" size="20px" />
                        </span>
                    }
                </button>
            </div>
        }
    </div>
</div>

<h3 class="relative left-2">Dark Mode</h3>
<div
    class="mb-4 flex items-center justify-center rounded-xl bg-zinc-400/25 p-4 backdrop-blur-lg dark:bg-zinc-500/25"
>
    <button
        class="mode-toggle"
        [ngClass]="{'active': (mode$ | async) === ModeSwitch.system}"
        (click)="setMode(ModeSwitch.system)"
    >
        @if ((mode$ | async) === ModeSwitch.system) {
            <ng-icon name="remixComputerFill" size="24px" />
        } @else {
            <ng-icon name="remixComputerLine" size="24px" />
        }
        <span>System</span>
    </button>
    <button
        class="mode-toggle"
        [ngClass]="{'active': (mode$ | async) === ModeSwitch.light}"
        (click)="setMode(ModeSwitch.light)"
    >
        @if ((mode$ | async) === ModeSwitch.light) {
            <ng-icon name="remixSunFill" size="24px" />
        } @else {
            <ng-icon name="remixSunLine" size="24px" />
        }
        <span>Lights On</span>
    </button>
    <button
        class="mode-toggle"
        [ngClass]="{'active': (mode$ | async) === ModeSwitch.dark}"
        (click)="setMode(ModeSwitch.dark)"
    >
        @if ((mode$ | async) === ModeSwitch.dark) {
            <ng-icon name="remixMoonFill" size="24px" />
        } @else {
            <ng-icon name="remixMoonLine" size="24px" />
        }
        <span>Lights Off</span>
    </button>
</div>

<h3 class="relative left-2">NSFW Filter</h3>
<form
    [formGroup]="ratingsChangeForm"
    class="flex flex-col items-center justify-center rounded-xl bg-zinc-400/25 p-4 backdrop-blur-lg dark:bg-zinc-500/25"
>
    @if (showNsfw$ | async) {
        <app-toggle [id]="'show-mature'" [formControlName]="'showMature'">
            Show Mature
        </app-toggle>
        <app-toggle [id]="'show-explicit'" [formControlName]="'showExplicit'">
            Show Explicit
        </app-toggle>
    } @else {
        <p class="mb-2 text-center">
            Changing this setting may expose you to content not suitable for people
            under the age of 18.
        </p>
        <p class="mb-4">Are you sure you want to proceed?</p>
        <app-button
            [id]="'show-nsfw'"
            [title]="'Show NSFW'"
            [kind]="'primary'"
            (click)="setShowNsfw()"
        >
            <span class="button-icon"><ng-icon name="remixCheckLine" /></span>
            <span class="button-text">Show Me The Money</span>
        </app-button>
    }
</form>

<div class="border-b-2 border-dotted w-full border-zinc-400 dark:border-zinc-500 my-4"><!--spacer--></div>
<app-link [id]="'all-settings-link'" [title]="'All Settings'" [link]="'/settings'" [kind]="'primary'" [fullWidth]="true">
    <span class="link-icon"><ng-icon name="remixSettings2Line" /></span>
    <span class="link-text">All Settings</span>
</app-link>
