<app-jumbotron/>

<div class="flex flex-col max-w-6xl mx-auto w-full md:w-11/12 my-6">
    <app-card-carousel>
        <ng-icon name="remixLoader2Line" size="30px" />
        <h3 class="text-2xl text-black dark:text-white mx-2">What's New</h3>
    </app-card-carousel>
    <div class="my-4"><!--spacer--></div>
    <app-card-carousel>
        <ng-icon name="remixSignalTowerLine" size="30px" />
        <h3 class="text-2xl text-black dark:text-white mx-2">Recently Updated</h3>
    </app-card-carousel>
    <div class="my-4"><!--spacer--></div>
    <app-news-panel />
    <app-genre-grid />
</div>
