@defer (on immediate) {
    <a
        class="flex items-center my-0.5 mx-1 md:mx-0 hover:underline"
        [href]="link"
        [target]="'_blank'"
        [rel]="'noreferrer'"
    >
    <span class="mr-2 relative top-[0.1625rem]">
        @if (serviceName === 'facebook') {
            <ng-icon name="remixFacebookFill" size="22px" />
        } @else if (serviceName === 'twitter') {
            <ng-icon name="remixTwitterFill" size="22px" />
        } @else if (serviceName === 'mastodon') {
            <ng-icon name="remixMastodonFill" size="22px" />
        } @else if (serviceName === 'patreon') {
            <ng-icon name="remixPatreonFill" size="22px" />
        } @else if (serviceName === 'twitch') {
            <ng-icon name="remixTwitchFill" size="22px" />
        } @else if (serviceName === 'tumblr') {
            <ng-icon name="remixTumblrFill" size="22px" />
        } @else if (serviceName === 'youtube') {
            <ng-icon name="remixYoutubeFill" size="22px" />
        } @else if (serviceName === 'threads') {
            <ng-icon name="remixThreadsLine" size="22px" />
        } @else {
            <ng-icon name="remixLinksLine" size="22px" />
        }
    </span>
        <span class="text-sm hidden md:block">{{ displayString }}</span>
    </a>
}
